@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/*--VARIABLES--*/
/*--RESET--*/
/* Box sizing rules */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin & padding */
html, body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9375rem;
  color: #000000;
}

/* Remove default list style */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

/* Make images easier to work with */
picture, img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/*--VISUALLY HIDDEN--*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*--UTILITIES--*/
.container, .home__text, .stories__text, .features, .pricing__table-1, .pricing__table-2, .pricing__table-3, .compare {
  width: 85vw;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}

.darkBtn {
  color: #FFFFFF;
  background-color: #000000;
}

.lightBtn {
  color: #000000;
  background-color: #FFFFFF;
}

.inviteBtn-1 {
  padding: 1em 2em;
}

.inviteBtn-1:hover {
  color: #000000;
  background-color: #DFDFDF;
}

.inviteBtn-2 {
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-size: 0.75rem;
}

.inviteBtn-2:hover {
  text-decoration: underline;
}

.inviteBtn-2 span {
  position: absolute;
  top: 0.4rem;
  right: -4rem;
  width: 3rem;
  height: 1.5px;
  background: #FFFFFF;
}

.inviteBtn-2 span::before {
  content: '';
  position: absolute;
  top: -3px;
  right: -2.5px;
  width: 0.6rem;
  height: 1.5px;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.inviteBtn-2 span::after {
  content: '';
  position: absolute;
  top: 3px;
  right: -2.5px;
  width: 0.6rem;
  height: 1.5px;
  background: #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.inviteBtn--storiesCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inviteBtn--storiesCard span {
  right: 0;
}

use#photo-white,
use#facebook,
use#youtube,
use#twitter,
use#pinterest,
use#instagram {
  --primary-color: #FFF;
}

use#facebook:hover,
use#youtube:hover,
use#twitter:hover,
use#pinterest:hover,
use#instagram:hover {
  --primary-color: url(#a);
}

/*--LAYOUT--*/
header, section, footer {
  width: 100vw;
  max-width: 100%;
}

header > *, section > *, footer > * {
  margin: 0 auto;
  text-align: center;
}

/*--COMPONENT--*/
/*----------
    Navbar
-----------*/
header {
  position: relative;
  z-index: 1;
}

header .container, header .home__text, header .stories__text, header .features, header .pricing__table-1, header .pricing__table-2, header .pricing__table-3, header .compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 1.5rem 0;
  background-color: #FFFFFF;
}

header .nav {
  position: absolute;
  top: 4rem;
  left: 0;
  background-color: #FFFFFF;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

header .nav--hidden {
  display: none;
}

header .nav::before {
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header .nav__item {
  margin-top: 1rem;
}

header .nav__item {
  text-transform: uppercase;
  font-weight: 700;
}

header .nav--active:hover {
  color: #DFDFDF;
}

/*----------
    Hero
-----------*/
.home--hero {
  background: #000000;
  color: #FFFFFF;
  position: relative;
}

.home--feature {
  position: relative;
}

.home--feature::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 6px;
  background: linear-gradient(45deg, #FFC593 0%, #BC7198 40%, #5A77FF 100%);
}

.home__image img {
  width: 100%;
}

.home__text {
  text-align: left;
  padding: 4rem 0;
}

.home__text h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home__text p {
  margin: 1.5rem 0;
  opacity: 0.7;
  line-height: 1.5;
}

.home__text h4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.home__text--cta {
  position: absolute;
  top: 0;
  left: 7.5vw;
}

.home__text--cta h1:nth-of-type(2) {
  margin-bottom: 1.5rem;
}

.home-2 a span, .home-3 a span {
  background: #000000;
}

.home-2 a span::before, .home-3 a span::before {
  background: #000000;
}

.home-2 a span::after, .home-3 a span::after {
  background: #000000;
}

/*----------
   Stories
-----------*/
.stories__card {
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7.5vw;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.stories__card:hover {
  -webkit-transform: translateY(-8%);
          transform: translateY(-8%);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.stories__card:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.stories__card::before {
  content: '';
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(transparent));
  background: linear-gradient(0deg, #000000 0%, transparent 100%);
  opacity: 0.7;
}

.stories__card::after {
  content: '';
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background: linear-gradient(45deg, #FFC593 0%, #BC7198 40%, #5A77FF 100%);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.stories__text {
  color: #FFFFFF;
  text-align: left;
  margin: 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  z-index: 1;
}

.stories__text h3 {
  font-size: 1.125rem;
  margin: 0.15rem 0;
}

.stories__date, .stories__author {
  font-size: 0.8125rem;
  opacity: 1.0;
}

.stories .cardDivider {
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

.stories-1 {
  background: url("../assets/stories/mobile/mountains.jpg") no-repeat center/cover;
}

.stories-2 {
  background: url("../assets/stories/mobile/cityscapes.jpg") no-repeat center/cover;
}

.stories-3 {
  background: url("../assets/stories/mobile/18-days-voyage.jpg") no-repeat center/cover;
}

.stories-4 {
  background: url("../assets/stories/mobile/architecturals.jpg") no-repeat center/cover;
}

.stories-5 {
  background: url("../assets/stories/mobile/world-tour.jpg") no-repeat center/cover;
}

.stories-6 {
  background: url("../assets/stories/mobile/unforeseen-corners.jpg") no-repeat center/cover;
}

.stories-7 {
  background: url("../assets/stories/mobile/king-on-africa.jpg") no-repeat center/cover;
}

.stories-8 {
  background: url("../assets/stories/mobile/trip-to-nowhere.jpg") no-repeat center/cover;
}

.stories-9 {
  background: url("../assets/stories/mobile/rage-of-the-sea.jpg") no-repeat center/cover;
}

.stories-10 {
  background: url("../assets/stories/mobile/running-free.jpg") no-repeat center/cover;
}

.stories-11 {
  background: url("../assets/stories/mobile/behind-the-waves.jpg") no-repeat center/cover;
}

.stories-12 {
  background: url("../assets/stories/mobile/calm-waters.jpg") no-repeat center/cover;
}

.stories-13 {
  background: url("../assets/stories/mobile/milky-way.jpg") no-repeat center/cover;
}

.stories-14 {
  background: url("../assets/stories/mobile/dark-forest.jpg") no-repeat center/cover;
}

.stories-15 {
  background: url("../assets/stories/mobile/somwarpet.jpg") no-repeat center/cover;
}

.stories-16 {
  background: url("../assets/stories/mobile/land-of-dreams.jpg") no-repeat center/cover;
}

/*----------
  Features
-----------*/
.features {
  margin: 0 auto;
  padding: 5rem 0;
}

.features__card + .features__card {
  margin-top: 3rem;
}

.features__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__card h3 {
  font-size: 1.125rem;
  margin: 3rem 0 1rem;
}

/*----------
    Pricing
-----------*/
.pricing__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.pricing__switch p {
  font-size: 1.125rem;
  font-weight: 700;
}

.pricing__switch p:nth-of-type(2) {
  opacity: 0.5;
}

.pricing__switch--toggle {
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: #DFDFDF;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.pricing__switch--toggle::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #000000;
  top: 4px;
  left: 4px;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.pricing__switch--toggle.active::before {
  left: 36px;
}

.pricing__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.pricing__table-1, .pricing__table-2, .pricing__table-3 {
  background-color: rgba(223, 223, 223, 0.5);
  padding: 2.5rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.pricing__table a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.pricing__table--active {
  background-color: black;
  color: white;
  position: relative;
}

.pricing__table--active::before {
  content: '';
  position: absolute;
  width: 85vw;
  height: 6px;
  background: linear-gradient(45deg, #FFC593 0%, #BC7198 40%, #5A77FF 100%);
  top: 0;
  left: 0;
}

.pricing__heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.pricing__details {
  font-size: 0.9375rem;
  opacity: 0.6;
}

.pricing__prices p:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: 700;
}

.pricing__prices p:nth-of-type(2) {
  font-size: 0.9375rem;
  opacity: 0.6;
}

/*----------
    Compare
-----------*/
.compare {
  margin: 0 auto;
  position: relative;
  margin-bottom: 4rem;
}

.compare__heading {
  display: none;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 6rem 0 2rem;
  text-transform: uppercase;
}

.compare__features {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: -3rem;
  left: 0;
  text-align: left;
}

.compare__features::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 3rem;
  left: 0;
}

.compare .check-hidden {
  visibility: hidden;
}

.compare table {
  border-collapse: collapse;
  margin: 5rem 0 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.compare table thead tr {
  border-bottom: 1px solid #000000;
}

.compare table tr {
  border-bottom: 1px solid #DFDFDF;
}

.compare table th, .compare table td:first-child {
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.compare table th:first-child, .compare table td:first-child {
  text-align: left;
}

.compare table td > img {
  margin: 0.5rem auto 0;
}

.compare table thead {
  visibility: collapse;
}

.compare table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compare table td:first-child {
  width: 100%;
  letter-spacing: 1px;
}

.compare table td:not(:first-child) {
  width: 3.75rem;
  height: 3.75rem;
  padding-bottom: 1rem;
}

.compare table td:not(:first-child)::before {
  content: attr(data-label);
  text-transform: uppercase;
  font-size: 0.625rem;
  opacity: 0.5;
  letter-spacing: 1px;
}

/*----------
    Footer
-----------*/
.footer {
  background: #000000;
  color: #FFFFFF;
  padding: 4rem 0;
}

.footer__socialIcon {
  margin: 1rem 0 2rem;
}

.footer__socialIcon svg + svg {
  margin-left: 0.8rem;
}

.footer__menu {
  margin-bottom: 5rem;
}

.footer__menu li + li {
  margin-top: 0.75rem;
}

.footer__menu a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
}

.footer__cta .copyright {
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 3rem;
}

.footer--active:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */